/* --- FASE 2 --- */
@font-face {
    font-family: 'Ek Mukta';
    font-style: normal;
    font-weight: 200; 
    font-display: swap;
    /* Asegúrate de tener la ruta correcta de tu fuente si la descargaste */
    src: url('tu-enlace-a-fuente-200.woff2') format('woff2');
}

body {
    background-color: #fff;
    color: #222829;
    font-family: "Ek Mukta", sans-serif; /* Si no carga Ek Mukta, usa sans-serif */
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1E1E1E;
    color: white;
    padding: 10px; /* Un poco de aire */
}

footer {
    background-color: #E6E6E6; 
    padding: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 15px;
}

p {
    font-weight: 200; 
    margin-bottom: 1em;
    text-align: justify;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.contenedor-principal {
    max-width: 970px;
    margin: 0 auto; /* Centrado automático */
    padding: 20px;
}